html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
}
@media screen and (prefers-reduced-motion: reduce){
	html{
		scroll-behavior: auto;
	}
}
.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.box1{
    background-color: #F4E4E4;
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
.navbtn li{
    display: inline-block;
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 24px;
    color: #8B8484;
    text-decoration: none;
}
#logo{
    float: right;
    padding-bottom: 20px;
}
a{
    padding-right: 20px;
}
#name{
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    color: #464646;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 110px;
}
#photo{
    text-align: center;
    margin: 50px;
    padding-bottom: 70px;
}
.col-4{
    padding-left: 150px;
}
#t1{
    text-align: center;
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 35px;
    padding-top: 80px;
    padding-left: 60px;
}
p{
    text-align: justify;
    font-family: 'Lora', serif;
    font-size: 20px;
    padding-left: 150px;
    padding-bottom: 150px;
}
#pageeducation{
    padding-top: 120px;
    padding-bottom: 50px;
    text-align: center;
}
#t2{
    text-align: center;
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 35px;
    padding-bottom: 50px;
}
#t3{
    text-align: center;
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 35px;
    padding-top: 45px;
    padding-bottom: 80px;
}
#t4{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    line-height:20px;
    padding-bottom: 10px;
    color: #8B8484;
    text-decoration: none;
}
.center{
    display : block;
    margin : 0 auto 0 auto;
}
#t5{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    line-height:20px;
    padding-bottom: 0px;
    color: #8B8484;
    text-decoration: none;
}
#t6{
    text-align: center;
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 35px;
    padding-top: 45px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#pageskills{
    text-align: center;
    font-family: 'Tenali Ramakrishna', sans-serif;
    font-size: 35px;
    padding-bottom: 0px;
}
.col-8{
    text-align: center;
}
.col-7{
    text-align: center;
}
.box2{
    margin-left: 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    background-image: linear-gradient(#ffffff, #f0d2d2);
}
#copyright{
    font-family: Dancing Script;
    font-size: 24px;
    text-align: center;
    color: #515151;
    padding-top: 55px;
}