{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<!-- <html lang="en">
<head>
    <title>kamila alifia's personal page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Dancing+Script|Lora|Playfair+Display|Tenali+Ramakrishna&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head> -->
{% block content %}
<body>
    <!-- <div class="box1">
        <nav class="navbar">
            <ul class="navbtn">
                <a href="{% url 'homepage:home' %}"><li>HOME</li></a>
                <a href="{% url 'homepage:about' %}"><li>ABOUT</li></a>
                <a href="{% url 'homepage:education' %}"><li>EDUCATION</li></a>
                <a href="{% url 'homepage:experience' %}"><li>EXPERIENCES</li></a>
                <a href="{% url 'homepage:skills' %}"><li>SKILLS</li></a>
                <a href="{% url 'homepage:contact' %}"><li>CONTACT</li></a>
            </ul>
            <div id="logo"><img src="{% static 'images/KamilaLogo.png' %}" width="70px" height="60px"></div>
        </nav>
    </div> -->
    <div id="pageabout" style="padding-top:65px" >
        <div class=row>
            <div class="col-12 col-md-8">
                <div id="t1">GET TO KNOW HER BETTER</div>
                <p>
                    <br>Hi, nice to see you there! This page belongs to Kamila Alifia, but you can call her Kamila for short. She claimed herself as a full-time college student and a part-time dreamer.</br>
                    <br>Oh, and also a learner who is well-organized and has a strong will, ready to face challenges to reach her dreams and dare to experience fail in order to achieve victory. She has a passion in the fields of business, information & technology, and creative industries.</br>
                    <br>Her interest including fashion, beauty, health and lifestyle. She is calm, but passionate to learn new things. She is indeed a compassionately loving kind of person.</br>
                </p>
            </div>
            <div class="col-12 col-md-4">
                <img src="{% static 'images/Santorini.jpg' %}" width="100%" height="100%">
            </div>
        </div>
    </div>
</body>
{% endblock %}