<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>kamila alifia's personal page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Dancing+Script|Lora|Playfair+Display|Tenali+Ramakrishna&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
{% block content %}
<body>
    <div id="pagecontact" style="padding-top:100px; padding-bottom:30px;" class="container-fluid">
        <div class=row>
            <div class="col-7">
                <img src="{% static 'images/Desktop 8.png' %}" style="width:345px; height:370px; padding-bottom:70px;">
            </div>
            <div class="col-5"style="margin-top:80px;">
                <div class="row center social-logo"style="margin-bottom:30px;margin-left:40px;">
                    <a href="https://www.instagram.com/kamilaalifiaa/">
                        <img src="{% static 'images/instagramlogo.png' %}" alt="Instagram" style="width:64px;height:50px;border:0;filter:opacity(30%);">
                    </a>
                    <a href="https://www.linkedin.com/in/kamila-alifia/">
                        <img src="{% static 'images/linkedinlogo.png' %}" alt="LinkedIn" style="width:42px;height:42px;border:0;filter:opacity(30%);">
                    </a>
                    <a href="mailto:kamila.alifia@ui.ac.id? subject=Hi, I came from your website.">
                        <img src="{% static 'images/emaillogo.jpg' %}" alt="E-mail" style="width:53px;height:42px;border:0;filter:opacity(30%);">
                    </a>
                </div>
                <div class="row center contact-question" style="text-align: center">
                    <p style="padding: 0 0 0 0">If you have any further questions,<br>feel free to contact me.</br></p>
                </div>
            </div>
            <div class="container-fluid text-right">
                <a href="{% url 'homepage:home' %}">
                    <img src="{% static 'images/home.png' %}" style="position:absolute; width:80px; height:80px; border:0; top:70%; right:5%;">
                </a>
            </div>
        </div>
    </div>
    <div class="box2" style="bottom:0px;">
        <div id="copyright">copyright © 2019 by kamila alifia.</div>
    </div>
</body>
{% endblock %}