{% extends 'base.html' %}
{% load static %}
{% block content %} 

    <form class="css" action="{% url 'homepage:create_schedule' %}" method="post" style="padding-top:130px;">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                {% for fields in form %}
                    {{ fields.label_tag }}
                    <br>
                    {{ fields }}
                {% endfor %}
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-1"></div>
            <input type="submit" class="btn btn-primary float-right" value="Add">
        </form>
    {% endblock %}