{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<!-- <html lang="en">
<head>
    <title>kamila alifia's personal page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Dancing+Script|Lora|Playfair+Display|Tenali+Ramakrishna&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head> -->
{% block content %}
<body>
    <!-- <div class="box1">
        <nav class="navbar">
            <ul class="navbtn">
                <a href="{% url 'homepage:home' %}"><li>HOME</li></a>
                <a href="{% url 'homepage:about' %}"><li>ABOUT</li></a>
                <a href="{% url 'homepage:education' %}"><li>EDUCATION</li></a>
                <a href="{% url 'homepage:experience' %}"><li>EXPERIENCES</li></a>
                <a href="{% url 'homepage:skills' %}"><li>SKILLS</li></a>
                <a href="{% url 'homepage:contact' %}"><li>CONTACT</li></a>
            </ul>
            <div id="logo"><img src="{% static 'images/KamilaLogo.png' %}" width="70px" height="60px"></div>
        </nav>
    </div> -->
    <div id="pageexperiences" style="padding-top: 150px" >
        <div class=row>
            <div class="col-7">
                <div id="t3">THINGS THAT SHE HAD EXPERIENCED</div>
                <a href="#committeeexperiences"><div id="t4"><br>COMMITTEE</br><br>EXPERIENCES</br></div></a>
                <a href="#workexperiences"><div id="t5"><br>WORK</br><br>EXPERIENCES</br></div></a>
            </div>
            <div class="col-5">
                <img src="{% static 'images/experiencequotes.JPG' %}" width="270px" height="450px">
            </div>
        </div>    
    </div>
    <div id="committeeexperiences" style="padding-top:90px; padding-left:3px;" >
        <div class="row">
            <img src="{% static 'images/Group.png' %}" class="img-fluid" width="700px" height="525px">
        </div>
    </div>
    <div id="workexperiences" style="padding-top:80px; margin-bottom:200px;" >
        <div class="row" style="float:right;">
            <img src="{% static 'images/Group (1).png' %}" class="img-fluid" width="700px" height="350px">
        </div>
    </div>
</body>
{% endblock %}