{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container backforms" style="padding-top: 120px;">
    <h2 class= "judul">Registration</h2>
  <form class="form-horizontal" action="/action_page.php">

       <div class="form-group row">
          <label for="nama" class="col-2 col-form-label">Nama:</label>
          <div class="col-10">
            <input class="form-control" type="text" id="nama">
          </div>
        </div>

      <div class="form-group row">
          <label for="datepicker" class="col-2 col-form-label">Tanggal Lahir:</label>
          <div class="col-10">
            <input id="datepicker" width="276" />
          </div>
        </div>

      <div class="form-group row">
          <label for="email" class="col-2 col-form-label">Email:</label>
          <div class="col-10">
            <input class="form-control" type="text" id="email">
          </div>
        </div>

      <div class="form-group row">
          <label for="username" class="col-2 col-form-label">Username:</label>
          <div class="col-10">
            <input class="form-control" type="username" id="username">
          </div>
        </div>
      <div class="form-group row">
          <label for="password" class="col-2 col-form-label">Password:</label>
          <div class="col-10">
            <input class="form-control" type="password" id="password">
          </div>
        </div>
      <div class="form-group row">
          <label for="password_conf" class="col-2 col-form-label">Password Confirmation:</label>
          <div class="col-10">
            <input class="form-control" type="password" id="password_conf">
          </div>
        </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9">
      <button type="submit" class="btn btn-dark" disabled>Submit</button>
    </div>
  </div>
</form>
</div>

</body>
</html>
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% endblock %}