{% extends 'base.html' %}
{% load static %}
{% block content %} 
    <body>
        <h1 style="padding-top:100px; text-align: center">SCHEDULE</h1>
        <div class="article" style="padding-top:80px;">
            <a href="{% url 'homepage:schedule' %}"></a>
            <div class="article">
                <div class="row">
                    {% for schedule in schedules %}
                        <div class="col-sm-4 text-center">
                            <h2 class="act">{{ schedule.activity }}</h2>
                            <h3 class="desc">{{ schedule.description }}</h3>
                            <p>{{ schedule.date.date }}<br>
                                {{ schedule.time}}<br>
                                {{ schedule.place }}<br>
                                {{ schedule.category }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class = 'col-md-12'>
            <div class = 'form-group'>
                <a href="{% url 'homepage:schedule_delete' %}">
                    <button type="button" class= "btn btn-secondary btn-lg btn-sm">Clear</button>
                </a>
                <a href="{% url 'homepage:create_schedule' %}">
                    <button type="button" class= "btn btn-secondary btn-lg btn-sm">Create Another</button>
                </a>
        </div>
    </div>
    
    {% endblock %}
    </body>
    