{% extends 'base.html' %}
<!DOCTYPE html>
{% load static %}
<!-- <html lang="en">
<head>
    <title>kamila alifia's personal page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Dancing+Script|Lora|Playfair+Display|Tenali+Ramakrishna&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head> -->
{% block content %}
<body>
    <!-- <div class="box1">
        <nav class="navbar">
            <ul class="navbtn">
                <a href="{% url 'homepage:home' %}"><li>HOME</li></a>
                <a href="{% url 'homepage:about' %}"><li>ABOUT</li></a>
                <a href="{% url 'homepage:education' %}"><li>EDUCATION</li></a>
                <a href="{% url 'homepage:experience' %}"><li>EXPERIENCES</li></a>
                <a href="{% url 'homepage:skills' %}"><li>SKILLS</li></a>
                <a href="{% url 'homepage:contact' %}"><li>CONTACT</li></a>
            </ul>
            <div id="logo"><img src="{% static 'images/KamilaLogo.png' %}" width="70px" height="60px"></div>
        </nav>
    </div> -->
    <div id="pageskills" style="padding-top:55px;">
        <div class="row skills-title">
            <div id="t6">THINGS THAT SHE IS CAPABLE OF</div>
        </div>
        <div class="row skills-pic">
            <img src="{% static 'images/Desktop 7.png' %}" class="img-fluid" width="879px" height="520px">
        </div>
    </div>
</body>
{% endblock %}